.jumbotron {
    width: 30 wh;
    height: 30 vh;
    color: #fff;
    padding-top: 9%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background: linear-gradient(-45deg, #ee7752,#e73c7e,#23a6d5 ,#23d5ab );
    background-size: 400% 400%;
    animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
}

.nav-tabs {
    float: left;
    border-bottom: 0px solid #dee2e6;
    background-color: transparent;
}

.form-check-input.categories {
    position: absolute;
    margin-top: .5rem;
    margin-left: -1.25rem;
}

@media only screen and (max-width: 600px){
    .jumbotron h2 {
        margin-top: 10px;
    }
}

.card-header.name {
    background-color: #1417c4;
    color: white;
}